In [3]:
def add(a,b):
    num_iterations = 0 
    tot = a+b
    num_iterations +=1
    print(tot,num_iterations)

In [4]:
add(1,3)

4 1

In [9]:
def check_prime(n):
    num_iterations = 0 
    mid = n//2
    for i in range(2,mid):
        num_iterations+=1
        if n%i==0:
            print("{} is not a prime number\nThe number of iterations are {}".format(n,num_iterations))
            return 
    print("{} is a prime number\nThe number of iterations are {}".format(n,num_iterations))

In [17]:
check_prime(1849)

1849 is not a prime number
The number of iterations are 42

In [18]:
def find_maxval(num_list):
    maxval = num_list[0]
    num_iterations = 0 
    for i in range(len(num_list)):
        num_iterations +=1
        if maxval < num_list[i]:
            maxval = num_list[i] 
    print("Maximum value of the list  = {}\nTotal number of iterations = {}".format(maxval,num_iterations))

In [20]:
find_maxval([11,2,3,4,5,6,7,8,9])

Maximum value of the list  = 11
Total number of iterations = 9

In [21]:
def find_factorial(number:int):
    fact = 1 
    num_iterations = 0 
    if (number<0 or type(number)!=int):
        print("Invalid Number!")
        return 
    for i in range(1,number+1):
        fact *=i
        num_iterations+=1
    print("The factorial of {} is {}\nThe number of iterations is {}".format(number,fact,num_iterations))

In [23]:
find_factorial(10)

The factorial of 10 is 3628800
The number of iterations is 10

In [24]:
def two_for_loops(number):
    tot = 0
    num_iterations = 0
    for i in range(number):
        num_iterations +=1
        tot +=i
    for i in range(100):
        num_iterations +=1
        tot +=i
    print("Total iterations are ",num_iterations)

In [25]:
two_for_loops(122)

Total iterations are  222

In [37]:
def find_factorial(number:int):
    if number ==0:
        return 1
    else:
        return find_factorial(number-1)*number

In [38]:
find_factorial(10)

3628800

In [40]:
def print_pairs(number_list):
    num_iterations = 0
    n = len(number_list)
    for i in range(n):
        for j in range(n):
            print(number_list[i],number_list[j])
            num_iterations +=1
    print("Total iterations are {}".format(num_iterations))

In [41]:
print_pairs([1,2,3,4,5,6])

1 1
1 2
1 3
1 4
1 5
1 6
2 1
2 2
2 3
2 4
2 5
2 6
3 1
3 2
3 3
3 4
3 5
3 6
4 1
4 2
4 3
4 4
4 5
4 6
5 1
5 2
5 3
5 4
5 5
5 6
6 1
6 2
6 3
6 4
6 5
6 6
Total iterations are 36

In [49]:
def find_prime(lower,upper):
    no_of_primes = 0
    num_iterations = 0
    for num in range(lower,upper):
        if num == 4:
            continue
        for i in range(2,int(num/2)):
            num_iterations +=1
            if (num%i==0):
                break
        else:
            no_of_primes +=1
            print(num)
    print("Total no of prime numbers in the given range is",no_of_primes)
    print("total iterations are {}".format(num_iterations))

In [50]:
find_prime(2,100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
Total no of prime numbers in the given range is 25
total iterations are 591

In [51]:
def print_combinations(m,n):
    num_iterations = 0
    for i in range(n):
        for j in range(m):
            print(i,j)
            num_iterations +=1
    print("Total iterations are",num_iterations)

In [53]:
print_combinations(10,10)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
Total iterations are 100